@media all and (max-width: 1000px) {
body h1 {
    font-size: 14em;
}
.produk {
    width: 50%;
    }
    .produk-icon img {
        height: 10px;
    }
    .produk-icon p {
        font-size: 6px;
    }
}


@media all and(max-width: 670px) {
    .header-list a{
        display: none;
    }
    .menu-icon {
        display: block;
    }
    body h1 {
        font-size: 5em;
    }
    .portofolio {
        display: none;

}
